 <div class="jumbotron" ng-controller="JumboCtrl">
      <div class="container">
        <h1>{{appDetails.header}}</h1>
        <p>{{appDetails.tagline}}</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">{{appDetails.button}}</a></p>
      </div>
    </div>
    
	<div class="container" ng-controller="ContCtrl">
      <!-- row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>{{appDetails.head1}}</h2>
          <p>{{appDetails.body1}}</p>
          <p><a class="btn btn-default" href="#" role="button">{{appDetails.button1}}</a></p>
        </div>
        <div class="col-md-4">
          <h2>{{appDetails.head2}}</h2>
          <p>{{appDetails.body2}}</p>
          <p><a class="btn btn-default" href="#" role="button">{{appDetails.button2}}</a></p>
       </div>
        <div class="col-md-4">
          <h2>{{appDetails.head3}}</h2>
          <p>{{appDetails.body3}}</p>
          <p><a class="btn btn-default" href="#" role="button">{{appDetails.button3}}</a></p>
        </div>
      </div>
 </div>